@import "variables";

.fade {
  opacity: 1;
  transition: opacity 1s ease-out;
}

#toggle-container {
  display: flex;

  #toggle-on, #toggle-off {
    font-family: $main;
    font-size: 20px;
    margin-left: 15px;
  }

  #toggle-on {
    color: $Yellow
  }
}

#code-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  #code-name {
    color: $Red;
  }

  #current-code {
    font-family: $main;
    font-size: 20px;
    margin-top: 40px;
  }

  img, #code-name {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  img {
    height: 40px;
  }

  input {
    border: 0px solid white;
    font-size: 15px;
    margin-left: 10px;
    outline: none;

    &::selection {
      background: $Yellow;
    }
  }
}

#upload-form-container {
  margin-top: 20px;

  #folder-container, #file-upload-container {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: $Yellow;
    cursor: pointer;
  }

  #folder-container,
  #file-upload-container,
  #upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #upload-form {
    flex-direction: column;
  }

  #folder-container input,
  #file-upload-container input {
    display: none;
  }

  #upload-icon, #folder-icon {
    height: 35px;
  }

  #filename {
    font-family: $main
  }

  #file-type-error {
    background-color: $Red;
    border-radius: 10px;
    color: white;
    font-family: $main;
    line-height: 20px;
    margin-top: 10px;
    padding: 5px
  }
}
