@import "variables";

#code-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  #code-name {
    color: $Red;
  }
  #current-code {
    font-family: $main;
    font-size: 20px;
    margin-top: 40px;
  }
  img, #code-name {
    margin-left: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: 40px;
  }
}

#upload-form-container {
  margin-top: 20px;
}
