@import "media-queries";

.columns-container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;

  @include mobile {
    width: 95%;
    height: 100vh;
    margin-top: 5px;
  }

  @include small-screen {
    width: 90%;
  }

  @include xl-screen {
    width: 80%;
    height: 55vh;
  }

  .columns-items-container {
    display: flex;
    justify-content: space-between;

    @include xl-screen {
      width: 80%;
    }
  }

  .column-item {
    display: flex;
    flex-direction: column;

    p {
      display: inline-block;
      // width: 250px;
      font-size: 20px;
      margin-top: 20px;

      @include mobile {
        width: 250px;
      }

      @include med-large-screen {
        width: 250px;
      }

      @include xl-screen {
        width: 250px;
      }
    }
  }

  .money, .phone, .folder {
    height: 8em;
  }
}
