@import "variables";

.content-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
  text-align: center;
  .main-header {
    margin-bottom: 15px;
    margin-top: 40px;
  }
  .second-header {
    // font-size: 3em;
    margin-bottom: 50px;
  }
  .singers, .kjs {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  .singers button div div, .kjs button div div {
    width: 120px;
  }
  p a {
    text-decoration: none;
    color: $Yellow;
  }
}
