.login-container {
  box-shadow: rgba(0, 0, 0, 0.117467) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  margin-top: 40px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  .button-container {
    margin-top: 20px;
  }
}
