// mobile screen
@media screen and (max-width: 500px) {
  .title, .login {
    display: none;
  }
  .app-container {
    margin-left: 0;
    margin-right: 0;
  }
  .menu-icon {
    display: block;
  }
  .main-header {
    font-size: 25px;
  }
  .second-header{
    font-size: 20px;
  }
  .content-container p {
    display: block;
    margin-top: -40px;
  }
  .content-container {
    min-height: 100vh;
  }
  .songs-container {
    background-color: black;
    // width: 5%;
    // height: 70vh;
  }
}

@media screen and (min-width: 501px) {
  #footer {
    position: absolute;
  }
  .menu-icon {
    display: none
  }
  .app-container {
    margin-left: 2%;
    margin-right: 2%;
  }
  .main-header {
    font-size: 35px;
  }
  .second-header {
    font-size: 30px;
  }
  .content-container p {
    display: none;
  }
  .songs-container {
    width: 80%;
    height: 70vh;
  }
}

@media screen and (max-width: 501px) {
  .songs-container {
    width: 95%;
    height: 70vh;
  }
}

// full screen
@media screen and (min-width: 1093px) {
  .main-header {
    font-size: 60px;
  }
  .second-header {
    font-size: 45px;
  }
  .songs-container {
    width: 60%;
    height: 70vh;
  }
}
