@import 'variables';

// NavBar
.nav-container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

  .nav-bar {
    display: flex;
    align-items: center;
    height: 5em;
    width: 100%;
    background-color: black;
  }

  .divider {
    height: 70%;
    width: 2px;
    background: $Yellow;
  }

  .title-logo {
    color: white;
    font-size: 4em;
    vertical-align: middle;
    font-family: Roboto;
    margin-left: 15px;
    font-weight: lighter;
  }

  .mic {
    animation: mic 0.5s 0.5s 1 forwards;
  }

  @-webkit-keyframes mic {
    from {
      height: .5em
    }
    to {
      height: 4em;
    }
  }

  .link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-start;
    height: 100%;
    width: 100%;
  }

  .nav-login-container, .nav-logout-container {
    height: 70%;
    align-items: center;
  }

  .login, .logout {
    line-height: 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .menu-icon {
    height: 4em;
    margin-right: 15px;
  }
}
// end NavBar
