@import 'variables';

.songs-container {
  border-radius: 2%;
  // width: 80%;
  // height: 65vh;
  background-color: #ececec;
  li {
    align-items: center;
    display: flex;
    font-family: $main;
    height: 30px;
    justify-content: space-between;
    // margin-left: 25px;
    // margin-right: 25px;
    border-bottom: 1px solid #cfcecb;
    span {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  .kj-name {
    font-family: $main;
    font-size: 2em;
    margin-top: 10px;
  }
  .search-container {
    display: flex;
  }
  .mobile-search-container {
    display: flex;
  }
  .search-icon {
    height: 2.2em;
    vertical-align: middle;
    margin-left: 10px;
  }
  #artist-tab, #title-tab {
    background-color: $Yellow;
    opacity: 0.5;
    height: 40px;
    line-height: 40px;
    width: 60px;
    vertical-align: bottom;
    font-family: $main;
  }
  #title-tab {
    opacity: 1;
    margin-right: 10px;
  }
  #mobile-artist-tab, #mobile-title-tab {
    background-color: $Yellow;
    opacity: 0.5;
    height: 40px;
    line-height: 40px;
    width: 100px;
    vertical-align: bottom;
    font-family: $main;
  }
  #mobile-title-tab {
    opacity: 1;
  }
}
