@import 'variables';

.songs-container {
  border-radius: 2%;
  // background-color: $LightGrey;
  margin-top: 5px;
  display: flex;
  ol {
    width: 100%;
  }
  li {
    // align-items: center;
    // display: flex;
    font-family: $main;
    // height: 30px;
    // justify-content: flex-start;
    // border: 1px solid #cfcecb;
    .artist-container {
      margin-left: 10px;
      margin-right: 10px;
      text-align: left;
      width: 100%;
      color: grey;
    }
    .title-container {
      text-align: left;
      width: 100%;
      margin-left: 10px;
    }
    .song-container {
      align-items: center;
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
      justify-content: center;
      flex-direction: row;
      width: 80%;
      margin-left: 10px
    }
    i {
      margin-right: 10px;
      font-size: 20px;
      color: $Yellow;
    }
    .border-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.117467) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }
    .slidein-container {
      width: 100%;
      position: relative;
    }
    .request-submit {
      position: absolute;
      background: $Yellow;
      height: 100%;
      top: 0;
      left: 83%;
      line-height: 50px;
      width:25%;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.117467) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
  .kj-name {
    font-family: $main;
    font-size: 2em;
    margin-top: 10px;
  }
  .search-container {
    display: flex;
  }
  .mobile-search-container {
    display: flex;
  }
  .search-icon {
    height: 2.2em;
    vertical-align: middle;
    margin-left: 10px;
  }
  #artist-tab, #title-tab {
    background-color: $Yellow;
    opacity: 0.5;
    height: 40px;
    line-height: 40px;
    width: 60px;
    vertical-align: bottom;
    font-family: $main;
  }
  #title-tab {
    // opacity: 1;
    margin-right: 10px;
  }
  #mobile-artist-tab, #mobile-title-tab {
    background-color: $Yellow;
    // opacity: 0.5;
    height: 40px;
    line-height: 40px;
    width: 100px;
    vertical-align: bottom;
    font-family: $main;
  }
  #mobile-title-tab {
    opacity: 1;
  }
}

.request-button {
  margin-top: 20px;
}
