@import "variables";

.lyrics-container {
  background-color: $LightGrey;
  border-radius: 2%;
  font-family: $main;
  margin-top: 10px;
  .lyrics {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
  }
}

.thanks-container {
  .second-header{
    line-height: 1.2em;
  }
  .lyrics-title {
    color: $Yellow;
  }
}
